---
---

div.gallery {
    display: block;
    padding: 0px;
    margin: 0 auto;
    text-align: center;

    figure {
        display: inline;
        list-style: none;
        padding: 0px;
        margin: 0px;

        img {
            display: inline;
            padding: 0px;
            margin: 0px;
            padding-bottom: 5px;
            padding-right: 0px;
        }
    }
}