---
# Only the main Sass file needs front matter (the dashes are enough)
layout: empty
---
@charset "utf-8";

@import 'globals';

.text-center {
    text-align: center;
}

body, button, input, select, textarea {
    font-family: $default-font;
    font-size: $default-font-size;
    line-height: 1.7em;
}

html {
    background-color: $background-color;
}

a, a:hover, a:visited {
    color: $dark-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.table {
    td, th {
        padding: 1px 5px;
    }

    tbody {
        th {
            text-align: left;
        }
    }
}

table.table4c {
    thead {
        th, td {
            width: 25%;
        }
    }
}

table.seasontable tbody td {
    text-align: center;
}

table.seasontable tbody td:first-child {
    width: 30%;
}

table.pricetable tbody td {
    text-align:  right;
}


@import 'mobile';

@import 'desktop';