<footer id="footer-aside" class="aside">

    <nav>
        <div id="layout-aside-first" class="group">
            <ul>
                <li><a href="{{ "/privacy/" | prepend: page.language | prepend: "/" | prepend: site.baseurl }}">{{ page.privacy }}</a>
                </li>
                <li><a href="http://partner.europaeische.at/roter-hahn?AGN2=142311216" target="_blank">Europäische Reiseversicherung</a></li>
            </ul>
        </div>
    </nav>

    {% include address.html %}

</footer>