<header>
    <div id="headercontent">
        <div class="first"><div class="text">{{ page.heading.left }}</div></div>
        <div class="second"><div class="text">{{ page.heading.right }}</div></div>
        <nav id="languagenav" class="text">
            {% if page.permalink == nil %}
                Deutsch
                <a href="{{ 'it/' | prepend: site.baseurl }}">Italiano</a>
            {% elsif page.permalink == '/it/' %}
                <a href="{{ site.baseurl }}">Deutsch</a>
                Italiano
            {% else %}
                {% for language in site.languages %}
                        {% if language.key == page.language %}
                            {{language.value}}
                        {% else %}
                            {% if page.language == 'it' && page.permalink == '/it/' %}
                            <a href="{{ site.baseurl }}" hreflang="{{ language.key }}">
                            {% else %}
                            <a href="{{ page.permalink | replace: page.language,language.key | prepend: site.baseurl }}" hreflang="{{ language.key }}">
                            {% endif %}
                                {{ language.value }}
                            </a>
                        {% endif %}
                {% endfor %}
            {% endif %}
        </nav>
    </div>
    <div id="banner" role="banner">
        {% if page.language == 'de' %}
            <a href="{{ site.baseurl }}">
        {% else %}
            <a href="{{ page.language | prepend: "/" | prepend: site.baseurl }}">
        {% endif %}
            <div class="first ir ph"></div>
            <div class="second ir ph"></div>
        </a>
    </div>
</header>