<div style="text-align: center; margin: auto; width: 100%">
  <div id='myMap' style="width:100%;height:400px;"></div>
</div>

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol'></script>
<script type="text/javascript">
  window.addEventListener("load", function(){
    var map = new Microsoft.Maps.Map('#myMap', {
      credentials:'AmxuSS9LmQ8Wtw9jJqlCKzuKdm0gu2-uwHKKCtSRtaavnzl10yvs3mclpewlTbU3',
      center: new Microsoft.Maps.Location(46.605777, 11.197079),
      zoom: 16,
      mapTypeId: Microsoft.Maps.MapTypeId.street,
    });
    var center = map.getCenter()
    var pin = new Microsoft.Maps.Pushpin(center, {
      title: "Ochsenkoflerhof",
      subTitle: "{{ page.address.street}}, {{ page.address.location }}"
    });
    map.entities.push(pin)
  })
</script>