<nav id="navigation" role="navigation" class="aside">
    <h1>
        {% if page.language == "de" %}
            <a id="homelink" href="{{ relative_url }}"></a>
        {% else %}
            <a id="homelink" href="{{ page.language | relative_url }}">
        {% endif %}
                Ochsenkofler
            </a>
    </h1>
    <div id="mainnav">
        <div id="layout-navigation" class="group">
            <ul>
                {% for p in site.html_pages %}
                    {% if page.language == p.language and p.tags contains 'menu' %}
                        {% if page.permalink == p.permalink %}
                        <li class="current">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="{{ p.permalink | relative_url }}">{{ p.title }}</a>
                            {% if p.tags contains 'menu_apartments' and page.permalink contains p.permalink %}
                                <ul>
                                    {% for doc in site.ferienwohnungen %}
                                        {% if doc.language == page.language %}
                                            {% if page.permalink == doc.permalink %}
                                            <li class="current">
                                            {% else %}
                                            <li>
                                            {% endif %}
                                                <a href="{{ doc.permalink | relative_url }}">{{ doc.title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>