<nav id="navigation" role="navigation" class="aside">
    <h1>
        {% if page.language == "de" %}
            <a id="homelink" href="{{ "/" | prepend: site.baseurl }}">
        {% else %}
            <a id="homelink" href="{{ "/" | prepend: page.language| prepend: "/" | prepend: site.baseurl }}">
        {% endif %}
                Ochsenkofler
            </a>
    </h1>
    <div id="mainnav">
        <div id="layout-navigation" class="group">
            <ul>
                {% for p in site.html_pages %}
                    {% if page.language == p.language and p.tags contains 'menu' %}
                        {% if page.permalink == p.permalink %}
                        <li class="current">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="{{ p.permalink | prepend: site.baseurl }}">{{ p.title }}</a>

                            {% if forloop.first == true %}
                                <ul>
                                    {% for doc in site.collections.ferienwohnungen.docs %}
                                        {% if doc.language == page.language %}
                                            {% if page.permalink == doc.permalink %}
                                            <li class="current">
                                            {% else %}
                                            <li>
                                            {% endif %}
                                                <a href="{{ doc.permalink | prepend: site.baseurl }}">{{ doc.title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>