<!DOCTYPE html>
<html class="no-js" lang="{{ page.language }}">

    {% include head.html %}

<body>

      <div class="main">
      <div class="head--left">
        <img src="{{ "assets/images/logo.svg" | relative_url }}" />
        {{ page.greeting | markdownify }}
      </div>

      <div class="head--right" style="position: relative;">

        <div style="position: absolute; left: 0; bottom: 0; padding: 0; margin: 0">
          <a href="#main-menu" class="mburger">
            <b></b>
            <b></b>
            <b></b>
          </a>
        </div>

        <article>
            {{ page.hero | markdownify }}
        </article>

        {% include menu-secondary.html %}
      </div>
      <div class="nav">
        {% include menu.html %}
        <div class="info">
          <hr />
          <div>
            Familie Burger<br />
            Vöranerweg 4, I-39014
          </div>
          <img src="{{ "assets/images/blumen.png" | relative_url }}" />
        </div>
      </div>
      <div class="content">
        <article
          {% if page.full_width %}
            class="fullwidth"
          {% endif %}
        >
            {{ content }}
        </article>
        {% include widget.html %}
      </div>
    </div>

    {% include footer.html %}

</body>
</html>