<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ page.language }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ page.language }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ page.language }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.language }}"> <!--<![endif]-->

    {% include head.html %}

    <body>
        <form runat="server">
            <div id="container">
                <header>
                    <div id="headercontent">
                        <div class="first"><div class="text">{{ site.header[0] }}</div></div>
                        <div class="second"><div class="text">{{ site.header[1] }}</div></div>
                        <nav id="languagenav" class="text">
                            {% if page.permalink == nil %}
                                Deutsch
                                <a href="{{ "/it/" | prepend: site.baseurl }}">Italiano</a>
                            {% elsif page.permalink == '/it/' %}
                                <a href="{{ "/" | prepend: site.baseurl }}">Deutsch</a>
                                Italiano
                            {% else %}
                                {% for language in site.languages %}
                                        {% if language.key == page.language %}
                                            {{language.value}}
                                        {% else %}
                                            <a href="{{ page.permalink | replace: page.language,language.key | prepend: site.baseurl }}" hreflang="{{ language.key }}">
                                                {{ language.value }}
                                            </a>
                                        {% endif %}
                                {% endfor %}
                            {% endif %}
                        </nav>
                    </div>
                    <div id="banner" role="banner">
                        {% if page.permalink == nil %}
                            <a href="{{ "/" | prepend: site.baseurl }}">
                        {% else %}
                            <a href="{{ "/" | prepend: page.language| prepend: "/" | prepend: site.baseurl }}">
                        {% endif %}
                            <div class="first ir ph"></div>
                            <div class="second ir ph"></div>
                        </a>
                    </div>
                </header>
                <div id="main" role="main">
                    <nav id="navigation" role="navigation" class="aside">
                        <h1>
                            {% if page.permalink == nil %}
                                <a id="homelink" href="{{ "/" | prepend: site.baseurl }}">
                            {% else %}
                                <a id="homelink" href="{{ "/" | prepend: page.language| prepend: "/" | prepend: site.baseurl }}">
                            {% endif %}
                                    Ochsenkofler
                                </a>
                            </h1>
                        <div id="mainnav">
                            <div id="layout-navigation" class="group">
                                <asp:Menu ID="Menu" runat="server" SkipLinkText="" DataSourceID="SiteMapDataSource" StaticDisplayLevels="2" MaximumDynamicDisplayLevels="0" DynamicEnableDefaultPopOutImage="False" EnableTheming="True" StaticEnableDefaultPopOutImage="False" OnMenuItemDataBound="Menu_MenuItemDataBound">
                                </asp:Menu>
                            </div>
                        </div>
                        <asp:SiteMapDataSource ID="SiteMapDataSource" runat="server" ShowStartingNode="False" />
                    </nav>
                    <footer id="footer-aside" class="aside">
                        <nav>
                            <div id="layout-aside-first" class="group">
                                <ul>
                                    <li><a href="{{ "/privacy/" | prepend: page.language | prepend: "/" | prepend: site.baseurl }}">{{ page.privacy }}</a>
                                    </li>
                                    <li><a href="http://partner.europaeische.at/roter-hahn?AGN2=142311216" target="_blank">Europäische Reiseversicherung</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div id="addressinfo" itemscope itemtype="http://schema.org/BedAndBreakfast">
                            <meta itemprop="name" content="Ochsenkoflerhof" />
                            <link itemprop="image" href="{{ "/assets/images/HeaderImageRight.jpg" | prepend: site.baseurl }}" />
                            <a href="http://www.roterhahn.it" target="_blank" id="roterhahnlink" class="ir">Roter Hahn</a>
                            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="name">Fam. Burger</span><br />
                                <meta itemprop="addressCountry" content="IT" />
                                I-<span itemprop="postalCode">39014</span>
                                <span itemprop="addressLocality">{{ page.address.location }}</span><br />
                                <span itemprop="streetAddress">{{ page.address.street }}</span><br />
                                Tel. <span itemprop="telephone">0473 292429</span><br />
                                <a href="mailto:info@ochsenkofler.it"><span itemprop="email">info@ochsenkofler.it</span></a>
                            </address>
                        </div>
                    </footer>
                    <div id="content" class="clearfix">
                        <div id="mustercontainer" class="ir">
                        </div>
                        <div>
                            <article>
                                {{ content }}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" role="contentinfo"></div>
        </form>

        <script>
            var _gaq=[['_setAccount','UA-2898486-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
